<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>vue.js</title>
</head>

<body>
  <div id="app">
    <h1>{{message}}</h1>
    <ul>
      <li v-for = "section in sections" v-text="section" >
      </li>
    </ul>


  </div>
  <script src="https://unpkg.com/vue"></script>
  <script>
new Vue({
  el: '#app',
  data: {
    message: 'Mon Portfolio',
    sections : ['cv', 'projets', 'blog']
  
  }
})
  </script>
</body>

</html>